<%- include("./partials/header") %>

<div class="container login-container">
    <div class="card" style="margin-top:100px;">
        <div class="card-content bg-light" >
            <h3 style="text-align: center;"><i class="fas fa-book"></i>&nbsp;To-do app</h3>
            <div class="section">
                <p class="lead" style="text-align: center;">Let us help you keep track of what you want todo today and whenever.</p>
            </div>
            <div class="divider"></div>
            <div class="section" style="text-align: center;">
                <a href="/auth/google" class="btn red darken-1 btn-danger">
                    <i class="fab fa-google left"></i> Log In With Google
                </a>
            </div>
        </div>
    </div>
</div>



<%- include("./partials/footer") %>